# Files created by vim to backup
*~
*swp

# Files created by mac
*.DS_Store

# Files created by runs
chains/*

# Compiled python files
*.pyc

# Custom configuration files
*.conf

# Custom parameter files
*.param

# Build files of sphinx-doc
sphinx-documentation/_build/
sphinx-documentation/_templates/

# Build files of wrapper wmap
wrapper_wmap/build/

# File created by git big-picture for branch visualisation
montepython.png

# Build files of the package
build/
dist/
*.egg-info/

# Ignore the JLA files if present
data/JLA/

# Ignore the coverage reports
.coverage
htmlcov/
